
@media (max-width: 1280px) {
	.section-1 .card h2 {
    font-size: 35px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
}

}
@media (max-width: 1200px) {
     
}
@media (max-width: 1024px) {
 .banner h1{
    font-size: 39px;
 }
 h2{
    font-size: 35px;
 }
 h3{
    font-size: 26px;
 }
 .banner {
    height: 80vh;
}
.loop-container {
    height: 80vh;
}
}
 @media (max-width: 991.9px) {
    .animate-me {
            line-height: 34px;
            font-size: 21px;
        }
        .card-about {
        padding: 25px 50px;
    }
    .contact_us_btn_container{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .about-us-border-imgs .left {
    left: -20px;
}
    .about-us-border-imgs .right {
        right: -20px;
    }
    .mobile_menu{
        display: none ;
    }
    .menu_icon {
        display: block;
    }
    /* .banner-text .title {
    background-image: linear-gradient(to right, #8750f7 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
} */
.banner-btns .mobile_menu {
    display: inline-block;
}
.card-first-item {
    display: flex;
    align-items: start;
    gap: 10px;
    flex-direction: column;
}
.section-1 .card h2 {
    font-size: 28px;
}
.section-1 .card-icon i {
    color: #fff;
    transform: rotate(40deg);
    font-size: 25px;
    transition: all 0.3s ease;
}
p{
    font-size: 16px;
}
.card-skills {
    margin-top: 25px;
}
.from {
    margin-bottom: 25px;
}
.sec-4 {
    padding-bottom: 20px;
}
section {
    padding: 40px 0px;
}
#mobileview {
   width: 100%;
   display: flex;
   gap: 30px ;
}
#mobileview img{
    max-width: 20%;
}
#loopUp {
    display: none;
}
#loopDown {
    display: none;
}
.image-track {
    
}
.banner {
    padding-top: 70px;
    height: 130vh;
    text-align: center;
}
.banner-text {
    max-width: 80%;
    margin: auto;
     margin-bottom: 50px;
}
footer {
    padding-top: 55px;
    padding-bottom: 20px;
}
.nav-card .custom-btn {
   display: none;
}
.contact-Us-abouts .contact-us-container-img img {
    bottom: -41px;
    width: 379px;
}
}
@media(max-width:768.9px){
    .about-us-text{
        text-align: center;
        margin-top: 20px;
    }
    .service-section {
        text-align: center;
    }
    .hero-1 h2 {
    font-size: 25px;
}
.marquee__item img {
    max-width: 88px;
}
.serving-sec .row.mt-4{
    margin-top: 0 !important;
}
.serving-card {
    margin-top: 25px;
}
.contact-us-container {
    display: none;
}
.contact-us {
    text-align: center;
}
}

 @media (max-width: 767px) {
    header .logo {
        font-size: 24px;
        width: 301px;
    }
    .banner-text {
    }
    .banner-text .title {
    font-size: 35px;
}
.banner-btns .mobile_menu {
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
}
    .section-1 {
        text-align: center;
    }
    .about-img {
        max-width: 250px;
        margin: auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .nav.nav-pills .nav-link {
        white-space: nowrap !important;
        
    }
    .nav.nav-pills{
        justify-content: initial !important;
        flex-wrap: initial !important;
        overflow-x: auto;
    }
    .h2, h2 {
        font-size:30px;
    }
    .product-card h4 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
    .product-card img {
        max-width: 200px;
    }
    .contact-us-text-container  h4 {
        font-size: 22px;
    }
    .banner-img {
        margin-top: 40px;
    }
    .banner-img-container {
    max-width: 255px;
}
.section-1 .text-start{
    margin-top: 15px !important;
}
.card-icon {
    display: none;
}
.section-1 .card h2 {
    font-size: 25px;
}
.nav.nav-pills{
    justify-content: center !important;
}
.card-skills {
    margin-top: 25px;
}
section {
    padding: 30px 0px;
}
.form-card {
    margin-bottom: 30px;
}
h4{
    font-size: 18px;
}
.form-card {
    padding: 15px;
    background: #20132e;
}
.nav.nav-pills .nav-link {
    font-size: 16px;
}
.banner-btns {
    display: flex;
    align-items: center;
}
#contact-form .banner-btns{
    justify-content: end !important;
}
.social_icons .icons {
    width: 36px;
    height: 36px;
}
.fa-phone {
    font-size: 14px !important;
}
.social-media-fixed {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: block;
  display: flex;
  flex-direction: column;
}
.social_icons .icons {
    background: #242e69;
}
.banner-text .title {
    font-size: 26px;
}
.banner-text p {
    font-size: 16px;
}
.logo img {
    max-width: 70px;
}
header .logo {
    width: auto;
}
.orb-container canvas {
    width: 100% !important;
    height: 100% !important;
}
.orb-container {
    width: 63%;
    height: 203%;
}
.about-us-border-imgs{
    display: none;
}
.card-about {
    padding: 0;
    margin-top: 15px;
}
.from{
    padding: 25px 20px;
}
.button__component_demo .link__text_demo {
    padding: 5px 12px;
    font-size: 13px;
}
.from .button__component_demo .link__text_demo {
    padding: 7px 14px;
    font-size: 14px;
}
.social_icons {
    display: inline-block;
    margin-top: 15px;
}
.copyrights {
    max-width: 75%;
    margin: auto;
    text-align: center;
}
.banner {
  height: 600px;
}
.banner h1 {
    margin-top: 150px !important;
}
header .logo h3 {
    font-size: 22px !important;
    margin-left: 0px;
}
.header {
    top: 10px;
}
.nav-card {
    border-radius: 5px;
}
.banner-text h1{
    margin: 0 !important;
}
.banner-text {
    max-width: 100%;
}
.banner-text {
    padding-right: 0px;
}
.banner {
    padding-top: 98px;
}
.banner h1 {
    font-size: 30px;
}
.banner-text p {
    font-size: 16px !important;
}
#mobileview img {
    max-width: 39%;
}
.hero-1 {
    text-align: center;
}
.copyrights-border-top {
    margin-top: 20px !important;
}
.copyrights-border-top .text-end{
    text-align: left !important;
}
footer {
    border-radius: 20px 20px 0px 0px;
}
.contact-Us-abouts .contact-us-container-img img {
    display: none;
}
.contact-Us-abouts {
    text-align: center;
}
.service-section{
    padding-bottom: 0;
}
.why-choose-us-img-container  img {
    margin-bottom: 20px;
}
.inner-banner {
    padding-top: 95px;
}
.from .justify-content-end {
    justify-content: center !important;
}
.social-media-imgs {
    justify-content: center;
}
.contact-us-section-two {
    padding-top: 0;
}
.serving-card h4 {
    font-size: 17px;
}
.cctv-lens {
  width: 60px;
  height: 60px;
}
}
	