/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body{
    margin: 0;
    background-color: #fff;
     font-family: "Rajdhani", sans-serif;
}
:root{
    --primary--color: #242e69;
    --para--color:#1d1d1d;
    --white--color:#fff;
    --text-color:#40a6ff;
    --border-radius:10px;
}
header .logo{
    font-weight: bold;
}
.logo a{
    color: var(--white--color);
    text-decoration: none !important;
}
header nav a{
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 500;
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
    color: #494949;
    font-weight: 500;
}
h1{
    color: var(--white--color);
    font-weight: 600;
}

h2,h3,h4,h5,h6{
 color: var(--para--color);
 font-weight: 600 !important;
}
h2{
    font-size: 40px;
    font-weight: 600 !important;
}
/* my code */
.header{
    position: fixed;
    width: 100%;
    top: 25px;
    padding: 8px 0;
    z-index: 1000;
    transition: 0.3s all ease;
    
}
.header.hidden-nav{
    top: -120px;
   
}
/* .header.fixed-top {
    background: var(--para--color);
     box-shadow: 0 0 30px #0298f94d;
} */
.banner {
    padding: 0;
    height: 100vh;
    background: url(./images/Mask_group_1.jpg);
    background-size: cover;
}
header .logo {
    font-size: 26px;
    font-weight: 600 !important;
    color: #fff;
}
header .logo h3{
    color: var(--primary--color);
    font-weight: bold !important ;
    margin: 0;
    font-size: 26px !important;
    margin-left: 15px;
}
section{
    padding: 55px 0px;
}
.carousel .list .item .introduce .topic {
    font-size: 41px;
    line-height: 49px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.carousel .list .item .introduce .des {
    font-size: small;
    font-size: 16px;
    line-height: 24px;
    color: var(--para--color);
}
.main-nav {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px 16px;
    /* border: 1px solid rgba(255, 255, 255, 0.05);;
    border-radius: 50px;
    background-color: #f3f9f2; */
    position: relative;
}
.main-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav ul li{
    position: relative;
}
.main-nav a{
    padding: 8px 16px;
    color: var(--primary--color);
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
}
.main-nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(./images/bg-shape.svg);
    width: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.main-nav a:hover::after {
    opacity: 1;
    visibility: visible;
    color: #fff;
    width: 150%;
}
.contact_us_btn {
   padding: 10px 20px;
   background: #013c4a;
   color: #fff;
   border-radius: 25px;
   display: inline-block;
   font-size: 14px;
   font-weight: 600;
}
.menu_icon{
    display: none;
}
.menu_icon img{
    max-width: 25px;
}
.hero-sub-title {
    color: var(--white--color);
    font-size: 26px;
    font-weight: 600;
}
.section-1{
}
.banner-text  {
    position: relative;
    z-index: 5;
}
.banner-text .title{
    color: var(--white--color);
    font-size: 50px;
}
.about-img img {
    max-width: 400px;
    margin: auto;
}
.banner-text p{
    color: var(--white--color);
    margin-top: 15px;
    font-size: 20px;
}
.about-img {
    text-align: center;
}
.company-overview > *{
    color: #fff;
}
.product-card {
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
    position: relative;
}
.product-card h5{
    margin-top: 30px;
     position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 10;
}
.product-card h4{
    font-size: 26px;
    font-weight: 600;
    color: #1e1e1e;
   
}
.product-card-max-width p{
    color: #535353;
}
/* .product-card img{
    max-width: 230px;
} */
.product-card.border-right-none {
    border-right: none;
}
.product-card.border-bottom-none {
    border-bottom: none;
}
.product-col .col-md-6{
    padding: 0;
}
.contact-us-text-container  h4{
    font-size: 24px;
    font-weight: 500;
    color: #1e1e1e;
}
.section-3 {
}
footer{
    padding: 10px 0;
    border-top: none;
    background: none;
}
.copyrights {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--para--color);
}
.button__component_demo {
    border: 0;
    border-radius: 30px;
    color: #fff;
    position: relative;
     opacity: 1;
    visibility: inherit;
     font-size: 14px;
    overflow: hidden;
    transform: translate(0px, 0px);
}
.button__component_demo .link__text_demo {
    /* background: radial-gradient(91.98% 894.87% at 93.51% 50%,#1d1d24 0,rgba(29,29,36,.982) 40.62%,rgba(29,29,36,.8) 100%),linear-gradient(0deg,#2069d6,#2069d6); */
    display: block;
    padding: 7px 14px;
    z-index: 3;
}
.button__component_demo .button__gradient_demo {
    border-radius: 30px;
    bottom: -1px;
    box-shadow: -1px 1px 4px var(--primary--color),1px -1px 4px var(--white--color);
    left: -1px;
    overflow: hidden;
    padding: 9px 18px;
     overflow: hidden;
      font-size: 14px;
    position: absolute;
    right: -1px;
    top: -1px;
    transition: box-shadow .4s ease-out .4s;
    z-index: 2;
}
.button__component_demo .button__gradient_demo:after, .button__component_demo .button__gradient_demo:before {
    background: linear-gradient(218deg,#ea5b21,#7f539d 45%,#2a74b7);
    content: "";
    position: absolute;
}
.product-card-max-width {
    max-width: 80%;
    margin: auto;
}
.gl-map {
    padding: 5px 5px 0px 5px;
    background: var(--primary--color);
}
@media (min-width: 768px) {
  .button-55 {
    padding: 8px 24px;
  }
}
/* side menu */
.side-menu.active nav {
    right: 0;
    background: #fff;
}
.side-menu.active  {
   display: block;
}

.side-menu li {
    color: var(--primary--color);
    font-weight: 600 !important;
}
.side-menu{
    display: none;
}
.side-menu nav {
    width: 300px;
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    height: 100%;
    box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
    overflow-y: auto;
    z-index: 15000;
    transition: all 0.3s ease;
}
.side-menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.side-menu-close-btn img {
    max-width: 26px;
    cursor: pointer;
}
.side-menu nav ul {
    padding: 30px;
    list-style: none;
}
.side-menu nav ul li a {
    padding: 15px 0;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    color: var(--primary--color);
    text-decoration: none;
}

.side-menu nav .mobile-dropdown{
    padding: 0 0 0 15px;
}
.side-menu nav .mobile-dropdown li{
    padding: 10px 0;
    font-size: 13px;
}
.mobile-dropdown-li.active a{
    color: #ef6262;
}
.side-menu nav .mobile-dropdown.active{
    display: block;
}
.side-menu nav .mobile-dropdown {
    display: none;
    transition: all 0.3s ease-in;
}
.mobile-dropdown-list span{
    cursor: pointer;
}
.nav.nav-pills .nav-link.active{
    background: #fff !important;
    color: var(--primary--color) !important;
}
.nav.nav-pills .nav-link {
    color: #fff !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.nav.nav-pills .nav-link.active{
    background: transparent !important;
}
.banner-btns {
    margin-top: 30px;
}
.social_icons {
    display: inline-block;
    margin-left: 15px;
}
.social_icons .icons {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary--color);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.social_icons .icons:hover{
    background: var(--primary--color)
}
.social_icons .icons:hover i {
    color: var(--white--color)
}
.social_icons .icons i{
    font-size: 20px;
    color: var(--primary--color);
    transition: all 0.3s ease;
}
.button-55 i{
    margin-left: 5px;
}
.nav-container {
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 100px;
}
.orb-container {
    position: absolute;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
      width: 100%;
    height: 400px;
}
.orb-container .canvas{
    width: 100%;
    height: 100%;
}
.sec-1 {
}
.sec-2 {
    padding-top: 0;
}
.sec-3 {
    padding-top: 0;
}
.sec-4 {
    padding-top: 0;
    padding-bottom: 30px;
}
.loop-container {
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    .image-track {
      position: absolute;
      width: 50%;
      top: 0;
    }

    .image-track img {
      width: 100%;
      border-radius: 1rem;
      margin-bottom: 20px;
    }

    .left-track {
      left: 0;
    }

    .right-track {
      right: 0;
    }

    @media (max-width: 768px) {
      .image-track {
        width: 100%;
        opacity: 0.8;
      }

      .right-track {
        display: none;
      }
    }
/* sec1 */
.card-about {
    padding: 40px 120px;
    position: relative;
}
.about-us-border-imgs .left{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.about-us-border-imgs .right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.animate-me {
    line-height:45px;
}
.animate-me b{
    font-weight: 600 !important;
    color: var(--text-color);
}

.hero-1 {
    padding: 15px;
    background: var(--primary--color);
}
.hero-1 h2{
    color: var(--white--color) !important;
}
.hero-1 .helights-text {
   color: var(--white--color) !important;
}
.service-card {
    border: 1px solid #242e6930;
    padding: 15px;
    border-radius: 5px;
    margin-top: 30px;
    transition: all 0.3s ease;
}
.service-card:hover{
    border: 1px solid var(--primary--color);
}
.service-card p{
    margin: 0;
}
.service-card img{
    margin-bottom: 10px;
    max-width: 50px;
}

/*  */
#horizontal-scoll {
  padding: 200px 0;
  height: 100%;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
  height: 100%;
}

.horizontal {
  display: flex;
  height: 100%;
gap: 20px;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
  
}

.horizontal > div:first-child {
 
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

.horizontal .card {
  align-items: stretch;
  width: 300px;
  background: transparent;
}
#horizontal-scoll {
    padding: 0 !important;
}
.horizontal .card img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.horizontal .card h4{
    font-size: 18px;
}
.horizontal .card p{
    font-size: 14px;
}
.price {
    color: var(--text-color);
}

input {
    border-width: 1px;
    background-color:transparent;
    color: #fff;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.81rem;
    margin-bottom: 0;
    padding: 10px !important;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 160%;
    transition: all .2s;
    display: flex;
    border: 1px solid #242e6930;
    padding-left: 0px;
    border-radius: 10px;
}
textarea {
    border-width: 1px;
    background-color:transparent;
    color: #fff;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.81rem;
    margin-bottom: 0;
    padding: 10px !important;
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 160%;
    transition: all .2s;
    display: flex;
    border: 1px solid #242e6930;
    padding-left: 0px;
    border-radius: 10px;
    height: 80px;
}
textarea:hover{
   border: 1px solid var(--primary--color);
}
input:hover {
    border: 1px solid var(--primary--color);
}
textarea:focus-visible{
     outline: none;
    border: none;
    border: 1px solid var(--primary--color);
}
input:focus-visible {
    outline: none;
    border: none;
    border: 1px solid var(--primary--color);
}
textarea:focus{
     outline: none;
    border: none;
     border: 1px solid var(--primary--color);
}
input:focus {
    outline: none;
    border: none;
     border: 1px solid var(--primary--color);
}
.from-group {
    margin-bottom: 30px;
    
}
.from {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #242e6930;
    padding-top: 20px;
}
.from .button__component_demo {
    font-size: 15px;
}
.from .button__component_demo .link__text_demo {
    padding: 9px 18px;
}
.from .button__component_demo .link__text_demo {
    padding: 9px 18px;
    box-shadow: -1px 1px 4px var(--primary--color), 1px -1px 4px var(--white--color);
    border-radius: 30px;
    bottom: -1px;
}
.from .button__gradient_demo{
    box-shadow: none;
}
.social_icons {
    display: none;
}
.social_icons .icons {
    box-shadow: -1px 1px 4px var(--primary--color),1px -1px 4px var(--white--color);
    border-radius: 30px;
    border: none;
}
#success-popup{
    position: fixed;
    top: 0px;
    right: 32px;
    z-index: 10000;
    padding: 10px !important;
    background: rgb(223, 240, 216);
    color: rgb(60, 118, 61);
    margin-top: 20px;
    font-size: 16px !important;
    font-weight: 600;
    border-radius: 5px !important;
}
.copy-rights-link {
    color: var(--primary--color);
}
.social-media-imgs a img{
    max-width: 32px;
}
/* new */
.loop-container img{
   width: 85%;
}
.nav-card {
   padding: 10px;
   background: #fff;
   border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.custom-btn {
    padding: 8px 16px;
    border-radius: var(--border-radius);
    font-weight: 600;
    background: var(--primary--color);
    color: var(--white--color);
    font-size: 15px;
}
.helights-text {
    color: var(--primary--color);
    font-weight: bold !important;
}
.product-card {
    position: relative;
    border: none;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}
.product-card .product-card-bg {
        position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 10;
}
.product-card .product-card-main-img {
  /* position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  z-index: 8;
  position: relative;
}
.product-card h5{
    margin: 0;
    margin-top: 5px;
    margin: 0;
    margin-top: 5px;
    padding: 4px 8px;
    background: var(--para--color);
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
}
.inside-name-card {
    background: #242e691c;
    border-radius: 5px;
    margin: auto;
}
.wrapper {
	display: grid;
	place-content: center;
	height: auto;
}
.marquee {
	overflow: hidden;
	position: relative;
	mask-image: linear-gradient(
		var(--mask-direction, to right),
		hsl(0 0% 0% / 0),
		hsl(0 0% 0% / 1) 10%,
		hsl(0 0% 0% / 1) 90%,
		hsl(0 0% 0% / 0)
	);
}

.marquee__ctn {
	display: flex;
	width: 100%;
}

.marquee__track {
	display: flex;
}

@supports (-webkit-touch-callout: none) {
	.marquee__ctn {
		transform: translate3d(0, 0, 0) scale(1);
		perspective: 1px;
	}
}

.marquee__item {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-shrink: 0;

	min-width: 120px;
	margin-inline-end: 3rem;

	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
		backface-visibility: hidden;
		filter: brightness(100%);
	}
}
.marquee__item img{
    max-width: 110px;
}
.marquee__item {
     display: flex;
    align-items: center;
    justify-content: space-between;

    /* Optional hover effect */
    transition: all 0.3s ease-in-out;
}
.marquee__item h5{
    margin: 0;
    font-size: 15px;
}
.hero-1 h2{
    font-size: 30px;
}
.banner-text {
    padding-right: 60px;
}

.left-fixed {
      position: sticky;
      top: 100px;
      height: fit-content;
    }
    .service-card {
      opacity: 0;
      transform: translateY(50px);
      transition: all 0.5s ease;
      margin-bottom: 30px;
      background: white;
    }

    /* .marquee__item img {
    --tw-blur: blur(4px);
    --tw-brightness: brightness(1.10);
    --tw-grayscale: grayscale(90%);
    --tw-contrast: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    filter: grayscale(100%);
} */
  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card-customer-review {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #242e6930;
    }
  .serving-card {
    /* padding: 20px;
    border-radius: 10px;
    border: 1px solid #242e6930; */
    text-align: center;
  }
    .serving-card img{
        max-width: 50px;
        margin-bottom: 15px;
    }
     .serving-card h4{
        margin: 0;
        font-size: 20px;
        line-height: normal !important;
     }


     footer{
    padding: 40px 0;
    padding-top: 100px;
    border-top: 1px solid #2b2b2b;
        background-color: transparent;
        border-radius: 40px 40px 0px 0px;
    background-image: linear-gradient(180deg, #230e30 0%, var(--primary--color) 100%);
}
.copyrights {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #bfbfbf;
}

.social-media {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin-top: 15px;
}
footer h5{
    color: #fff;
}
footer p {
    color: #DCDCDC;
    font-weight: 500;
}
footer .quick-links li a {
    color: #DCDCDC !important;
    font-weight: 500 !important;
}
.copyrights-border-top {
    border-top: 1px solid #34439a;
    padding-top: 15px;
    margin-top: 50px !important;
}
.footer-logo h3{
    color: #fff;
    margin: 0;
}
.contact-us-container img{
    width: 100%;
    border-radius: 15px;
}
.contact-us-container {
    overflow: hidden;
}
.inner-banner {
    background: var(--primary--color);
    padding-top: 130px;
}
.why-choose-us-center-img {
    width: 100%;
}
.why-choose-us-img-container  img{
    max-width: 85%;
    margin: auto;
}
.why-choose-us-cion img{
    max-width: 40px;
}
.why-choose-us-cion {
    height: 55px;
    width: 55px;
    background: var(--primary--color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-choose-us .card{
    text-align: center;
    align-items: center;
}
.contact-Us-abouts {
    background: var(--primary--color);
}
.contact-Us-abouts h2 ,.contact-Us-abouts p ,.contact-Us-abouts .helights-text{
    color: #fff !important;
}
.contact-Us-abouts .custom-btn {
    color: var(--primary--color);
    background: var(--white--color);
    margin-top: 15px;
    display: inline-block;
}
.contact-Us-abouts {
    margin-top:30px ;
}
.contact-Us-abouts .contact-us-container-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.contact-Us-abouts .contact-us-container-img img {
    position: absolute;
    bottom: -55px;
    right: 20px;
    width: 437px;
}
.statistics {
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
}
.statistics h2{
    margin: 0;
    
}